<div class="card" [class.open]="true" #book>

    <!-- START used for [page data] computation purposes -->
    <section class="details" style="position: absolute; top: -1000px; visibility: hidden;">
        <p #PDPlaceholder>Paragraph</p>
    </section>
    <!-- END used for [page data] computation purposes -->

    
    <ng-container *ngIf="pages$|async as pages">
        <button (click)="prev()" style="position: absolute; top: 0">Previous</button>
        <button (click)="next(pages.length)" style="position: absolute; top: 0; right: 0">Next</button>
    <div class="imgBox">
        <img src="../assets/apocalypse-bw.png" alt="Animal eyes in the clouds">
    </div>
    <section class="details" *ngFor="let page of pages" [class.animated]="isOpen(page.sideNumber)" [class.center]="page.isPageIndicator || page.headers?.length">
        <ng-container *ngIf="page.isPageIndicator"> <p class="animate">{{page.pageNumber}}</p> </ng-container>
        <ng-container *ngIf="!page.isPageIndicator">
            <h2 *ngFor="let h of page.headers">{{h}}</h2>
            <p *ngFor="let p of page.paragraphs">{{p}}</p>
        </ng-container>
    </section>
</ng-container>
</div>
