
.card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 400px;
    background: white;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) perspective(2000px);
    box-shadow: inset 300px 0 50px rgba(0,0,0,0.5), 0 20px 100px rgba(0,0,0,0.5);
    transition: 1s;
}

.card:hover {
    /* transform: translate(-50%, -50%) perspective(2000px) rotate(-10deg); */
    /* box-shadow: inset 20px 0 50px rgba(0,0,0,0.5), 0 10px 100px rgba(0,0,0,0.5); */
}

.card:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #1c1c13;
    transform-origin: bottom;
    transform: skewX(-45deg);
}

.card::after {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: #403d32;
    transform-origin: left;
    transform: skewY(-45deg);
}

.card .imgBox,
.card .imgBox img {
    position: relative;
    width: 100%;
    height: 100%;
}

.card .imgBox {
    transform-origin: left;
    transition: 1s;
    /* display: none; */
}
.card.open .imgBox,
.card:hover .imgBox {
    transform: rotateY(-135deg);
}

.card .details {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: -1;
    
    border-left: 1px solid gray;
    background-color: white;

    transform-origin: left;
    transition: 1s;
}

h2 {
    font-family: 'Stalemate', cursive;
    font-size: 50px;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    /* display: none; */
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center h2 {
    margin: 0;
}

p {
    font-family: 'Courgette', cursive;
    font-size: 16px;
    /* display: none; */
}

.animated {
    transform: rotateY(-135deg);
    z-index: 10;
}

.card .details p.animate {
    transform-origin: left;
}
p.animate {
    visibility: hidden;
    transform: rotateY(179deg) translateX(-100%);
    transition: visibility 1s ease;
}
.animated p.animate {
    visibility: visible;
}