@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital@1&family=Courgette&family=Stalemate&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #708d00;
    background-image: url(https://sawasawa.me/assets/img/cities.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}